<div class="container">
  <div *ngIf="profile">
    <div class="panel panel-default">
      <div class="panel heading">
      Name:  {{profile.name}} <br><small>Student at: {{profile.company}}</small>
        <br> <span> {{profile.email}}</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-5">
            <div class="cd-sm-3">
                  <img id="image" src="https://avatars.githubusercontent.com/u/79504975?v=4" alt="profile">
                </div>
            <ul class="list-group">
              <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
              <li class="list-group-item" *ngIf="profile.twitter_username">Twitter Name: {{profile.twitter_username}}</li>
              <li class="list-group-item" *ngIf="profile.location">Location: {{profile.location}}</li>
              <li class="list-group-item" *ngIf="profile.updated_at">Updated on: {{profile.updated_at}}</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div>
              <p>
                <span class="label label-default">{{profile.followers}} Followers</span>
                <span class="label label-primary">{{profile.followers}} Followers</span>
                <span class="label label-secondary">{{profile.public_gist}}</span>
                <span class="label label-primary">{{profile.public_repos}}</span>
              </p>
              <p>
                <a href="profile.html url" target="blank" class="btn btn-success btn-sm">View profile on Github</a>
              </p>
              <div class="panel panel-default">
               <div class="panel heading">
                   <div class="panel-title">repos</div>
               </div>
                <div class="panel-body" *ngFor="let repo of repos">
                    <p>
                        {{repo.name}}
                        <a href="{{repo.html_url}} class btn btn-sm btn warning pull-right">View the repo</a>
                    </p>
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
